.parent {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  width: 300px;
  max-width: 300px;
}

.list_stories--container {
  width: max-content;
  margin: auto;
  column-count: 4;
}

@media screen and (max-width: 1280px) {
  .list_stories--container {
    column-count: 3;
  }
}

@media screen and (max-width: 980px) {
  .list_stories--container {
    column-count: 2;
  }
}

@media screen and (max-width: 660px) {
  .list_stories--container {
    column-count: 1;
  }
}
